<nav class="light-blue">
    <div class="nav-wrapper">
        <div class="container">
            <a href="#" class="brand-logo">Serviço Fácil</a>
            <ul class="right hide-on-med-and-down">
                <li><a ui-sref="home">Início</a></li>
                <li><a ui-sref="cadastro-cliente">Cadastre-se</a></li>
            </ul>
        </div>
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="side-nav" id="mobile-menu">
            <li class="active"><a ui-sref="home">Início</a></li>
            <li><a ui-sref="cadastro-cliente">Cadastre-se</a></li>
        </ul>
    </div>
</nav>