<nav class="light-blue">
    <div class="nav-wrapper">
        <div class="container">
            <a href="" class="brand-logo">Serviço Fácil</a>
            <ul class="right hide-on-med-and-down">
                <li ng-class="{active: $state.includes('app.home')}"><a ui-sref="app.home">Início</a></li>
                <li ng-class="{active: $state.includes('app.cadastro-cliente')}"><a ui-sref="app.cadastro-cliente">Cadastre-se</a></li>
            </ul>
        </div>
        <a href="" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="side-nav" id="mobile-menu">
            <li ng-class="{active: $state.includes('app.home')}"><a ui-sref="app.home">Início</a></li>
            <li ng-class="{active: $state.includes('app.cadastro-cliente')}"><a ui-sref="app.cadastro-cliente">Cadastre-se</a></li>
        </ul>
    </div>
</nav>