.carousel.carousel-slider.initialized {
    min-height: 40vh!important;
}
.carousel.carousel-slider .carousel-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.carousel .carousel-fixed-item {
    bottom: initial;
    top:5em;
    color: #1a1a1a;
    padding: 0 5vw;
}
.carousel-item .container-overlay {
    background: rgba(255, 255, 255, .5);
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}